<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <!-- TRACE < DEBUG < INFO < WARN < ERROR -->
  <root level="WARN"/>

  <logger name="org.springframework" level="WARN"/>
  <logger name="org.apache.commons.jexl2" level="ERROR"/>
  <logger name="tech.simter.jxls.ext" level="WARN"/>
</configuration>